{% extends "layout.html" %}
{% load static %}
{% block title %} ITKMITL - TA Registration | Login Panel {% endblock %}

{% block styles %}
    <style>
        /* Background Animation */
        @keyframes moveBackground {
            0% { background-position: 0 0; }
            50% { background-position: 0 100%; }
            100% { background-position: 0 0; }
        }

        /* Applying the animation to the background */
        .animated-bg {
            animation: moveBackground 15s ease-in-out infinite;
        }
    </style>
{% endblock %}

{% block content %}
<div class="relative min-h-screen bg-cover bg-center bg-fixed animated-bg" style="background-image: url('{% static 'images/life-13.jpg' %}');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative container mx-auto flex items-center justify-start min-h-screen">
        <div class="w-full max-w-md bg-white shadow-md rounded-lg overflow-hidden p-8 mx-auto md:mx-0 md:ml-10">
            <h2 class="text-3xl font-bold text-primary mb-6">TA Registrar</h2>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username (it65070xxx)</label>
                    {{ form.username.errors }}
                    {{ form.username }}
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                    {{ form.password.errors }}
                    {{ form.password }}
                </div>
                <div class="flex justify-end">
                    <button class="w-full bg-primary hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline active:ring-4 active:ring-blue-300 active:shadow-lg transition duration-150 ease-in-out" type="submit">
                        Sign me in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
